@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");
.menu-item a {
  font-weight: 400;
  font-size: 15px;
  color: white;
  transition: 1s;
}

#menu {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 30px;
}

.menu-item a:hover {
  color: blue;
}

.menu-burger {
  display: none;
}

.burger-item {
  margin-bottom: 5px;
  background-color: #ffffff;
  width: 30px;
  height: 2px;
  cursor: pointer;
}

#burger {
  padding: 10px;
  text-align: center;
  background-color: #111D4A;
  padding-top: 10px;
  margin-right: 300px;
  width: 100%;
  display: none;
}
#burger #menu-burger-links {
  list-style: none;
}
#burger #menu-burger-links .menu-item {
  padding: 5px;
}

header {
  background-color: #111D4A;
  width: 100%;
  min-height: 12vh;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.575);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: right;
}
header nav {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
  padding: 0px 5px;
}
header nav ul {
  display: flex;
  padding: 20px;
  list-style: none;
  gap: 20px;
  justify-content: flex-end;
  align-items: center;
}
header nav ul li a {
  color: #ffffff;
  transition: 0.8s;
}
header nav ul li a:hover {
  color: #2D82B7;
}

#home-page-section {
  background-image: url(../../images/backgroud-image.jpg);
  background-position: right;
  background-size: cover;
  background-clip: border-box;
  min-height: 100vh;
  max-width: 100%;
}
#home-page-section #shadow {
  min-height: 100vh;
  max-width: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.64), black);
  display: flex;
}
#home-page-section #shadow section {
  max-width: 1000px;
  min-height: 250px;
  margin-top: 220px;
  margin-bottom: 100px;
  padding: 20px;
  color: #ffffff;
}
#home-page-section #shadow section #info {
  display: flex;
  align-items: center;
  justify-content: center;
}
#home-page-section #shadow section #info h1 {
  font-size: 45px;
}
#home-page-section #shadow section #info #logo {
  height: 200px;
  padding-bottom: 30px;
}
#home-page-section #shadow section #info #logo img {
  height: 140px;
}
#home-page-section #shadow section #info #text-home-page {
  max-width: 650px;
}
#home-page-section #shadow section p {
  font-size: 20px;
}
#home-page-section #shadow section button {
  margin-top: 30px;
  width: 150px;
  height: 40px;
  border-radius: 5px;
  background-color: #111D4A;
  border: none;
  color: #ffffff;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.418);
  cursor: pointer;
  transition: 1s;
}
#home-page-section #shadow section button a {
  color: #ffffff;
  width: 100%;
  height: 100%;
}
#home-page-section #shadow section button:hover {
  border: 2px solid #ffffff;
  background-color: #ffffff;
}
#home-page-section #shadow section button:hover a {
  color: #111D4A;
}

#about-section {
  min-height: 70vh;
}
#about-section div {
  margin: 50px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
#about-section div h2 {
  color: #111D4A;
  font-size: 40px;
  text-align: center;
}
#about-section div p {
  text-align: justify;
  line-height: 30px;
  font-size: 18px;
}

#main-more-info {
  min-height: 100vh;
}
#main-more-info #shadow-info {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.64), black);
  width: 100%;
  min-height: 35vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#main-more-info #shadow-info div h1 {
  margin-top: 70px;
  font-size: 3.5rem;
  color: #ffffff;
}
#main-more-info #presentation-section {
  background-image: url(../../images/backgroud-image-more-info.jpg);
  background-size: cover;
  background-attachment: fixed;
  min-height: 35vh;
}
#main-more-info #information-section {
  padding: 20px;
}
#main-more-info #information-section section {
  padding: 5px;
}
#main-more-info #information-section section #forms-access {
  height: 100px;
}
#main-more-info #information-section section #forms-access p {
  border: 1px solid #111D4A;
  padding: 10px;
}
#main-more-info #information-section section table {
  height: 250px;
  border-collapse: collapse;
  padding: 5px;
  width: 100%;
}
#main-more-info #information-section section table tr {
  border: 1px solid #111D4A;
}
#main-more-info #information-section section table .blue {
  background-color: #2D82B7;
  color: #ffffff;
}
#main-more-info #information-section section table td {
  padding: 5px;
}
#main-more-info #information-section section h2 {
  background-color: #111D4A;
  color: #ffffff;
  border-top-left-radius: 5px;
  border-top-right-radius: 10px;
  padding: 10px;
}
#main-more-info #curriculum-matrix-section div {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  max-height: 600px;
}
#main-more-info #curriculum-matrix-section div img {
  max-width: 100%;
  height: 580px;
}
#main-more-info #link-more-info div p {
  margin: 10px;
  font-size: 16px;
}
#main-more-info #link-more-info div p a {
  color: #111D4A;
}

#contact-section {
  background-color: #111D4A;
  max-width: 100%;
  min-height: 50vh;
  display: flex;
  padding: 30px;
  justify-content: space-between;
  flex-wrap: wrap;
}
#contact-section #text-contact {
  max-width: 300px;
  padding: 30px;
  margin-top: 20px;
  color: #ffffff;
}
#contact-section #text-contact h2 {
  font-size: 35px;
}
#contact-section #text-contact ul {
  list-style: none;
}
#contact-section #text-contact ul li {
  font-size: 20px;
  margin: 10px 0px;
}
#contact-section #section-form {
  width: 500px;
}
#contact-section #section-form form {
  width: 100%;
}
#contact-section #section-form form div {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  padding: 20px;
  color: #ffffff;
}
#contact-section #section-form form label {
  margin-bottom: 5px;
}
#contact-section #section-form form legend {
  font-size: 25px;
  text-align: center;
  color: #ffffff;
  max-width: 450px;
}
#contact-section #section-form form input {
  border: 1.5px solid #ffffff;
  height: 40px;
  max-width: 450px;
  outline: none;
  padding: 5px;
  border-radius: 8px;
  margin-bottom: 20px;
  color: #111D4A;
}
#contact-section #section-form form button {
  height: 35px;
  margin-top: 10px;
  border-radius: 10px;
  background-color: #2D82B7;
  color: #ffffff;
  border: none;
  max-width: 450px;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

@media (max-width: 870px) {
  #home-page-section #shadow section #info h1 {
    font-size: 35px;
  }
}
@media (max-width: 567px) {
  header {
    display: grid;
  }
  nav {
    margin: 0;
  }
  #menu {
    display: none;
  }
  .menu-burger {
    display: block;
    margin: 10px;
  }
  #home-page-section #shadow section {
    margin-top: 125px;
  }
  #home-page-section #shadow section #info {
    flex-direction: column;
  }
  #home-page-section #shadow section #info h1 {
    font-size: 25px;
  }
  #home-page-section #shadow section #info #logo {
    display: none;
  }
  #about-section div {
    margin: 20px;
    padding: 10px;
  }
  #about-section div p {
    font-size: 16px;
  }
  #about-section div h2 {
    font-size: 30px;
  }
  #main-more-info #shadow-info {
    justify-content: center;
  }
  #main-more-info #shadow-info div h1 {
    font-size: 2em;
    margin-top: 50px;
    margin-bottom: 5px;
  }
}

/*# sourceMappingURL=style.css.map */
