@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

@import "variables.scss";
@import "pages/home.scss";
@import "pages/about.scss";
@import "pages/info.scss";
@import "pages/contact.scss";

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
 }

 @media(max-width:850px){
    #shadow{
        width: 800px;
        section{
            #info{
                h1{
                    font-size: 3px;
                }
            }
        }
    }
 }


