#contact-section{
    background-color: $dark-blue;
    max-width: 100%;
    min-height: 50vh;
    display: flex;
    padding: 30px;
    justify-content: space-between;
    flex-wrap: wrap;
    #text-contact{
        max-width: 300px;
        padding: 30px;
        margin-top: 20px;
        color: $white;
        h2{
            font-size: 35px;
            
        }
        ul{
            list-style: none;
            li{
                font-size: 20px;
                margin: 10px 0px;
            }
        }
    }
    #section-form{
        width: 500px;
        form{
            width: 100%;
                div{
                    display: flex;
                    flex-direction: column;
                    max-width: 500px;
                    padding: 20px;
                    color: $white;
                }
                legend{
                    font-size: 25px;
                    text-align: center;
                    color: $white;
                    max-width: 450px;
                }
                input{
                    border: 1.5px solid $white;
                    height: 40px;
                    max-width: 450px;
                    outline: none;
                    padding: 5px;
                    border-radius: 8px;
                    margin-bottom: 20px;
                    color: $dark-blue;
                }
                button{
                    height: 35px;
                    margin-top: 10px;
                    border-radius: 10px;
                    background-color: $light-blue;
                    color: $white;
                    border: none;
                    max-width: 450px ;
                }
            }
        }
    
}